h1 {
border-radius: 20px;
background-color: rgb(23, 239, 56);
padding: 15px,;
font-style: italic;
font-weight: bold;
text-align: center;
margin-top: 10;
margin-left: 5;
margin-right: 5;
}
p {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: center;
}
    
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    
    
}

.grid div{
    background: cornflowerblue;
    padding: 1em;


}
.grid :hover{
    border: 1px solid;
}
